{% extends "base.html" %}

{% block content %}

    <h1 class="my-5 text-center mb-4">Log de Movimentações</h1>
    <table class="table table-striped table-bordered container">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Produto</th>
                <th>Usuário</th>
                <th>Tipo</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            {% for movimentacao in movimentacoes %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ movimentacao.produto.nome }}</td>
                <td>{{ movimentacao.usuario.username }}</td>
                <td>{{ movimentacao.get_tipo_display }}</td>
                <td>{{ movimentacao.data }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="text-center">Nenhuma movimentação encontrada.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>  

    <script>
        const estoqueSocket = new WebSocket(
            'ws://' + window.location.host + '/ws/estoque/'
        );
    
        estoqueSocket.onopen = function() {
            console.log("WebSocket conectado.");
        };
    
        estoqueSocket.onmessage = function(e) {
            console.log("Mensagem recebida do WebSocket:", e.data);
            const data = JSON.parse(e.data);

            location.reload();

        };
    
        estoqueSocket.onclose = function(e) {
            console.error('WebSocket fechado inesperadamente.');
        };
    </script>

{% endblock %}
